/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


/* ok so this is finally my code*/
.body {
  width: 100%;

}
.wrapper {
  width: 100%;
  height: auto;


}
.border {
  background-color: #4d2000;
  width: 100%;
  height: 10px;
  /*position: absolute;
  z-index: 1;
  margin: 0 auto;*/
}

h1 a {
  font-family: "Notable", sans-serif;
  color: #4d2000;
  font-weight: normal;
  font-size: 30px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 10px;
  position: static;
  text-decoration: none;
  line-height: 40px;
  display: block;
  width: 100%;


}

nav {
  /*width: 100%;*/
  height: 30px;
  background-color: #e0a282;
  display: block;
  margin: 0 auto;
  text-align: center;

}

ul {
  width: 375px;
  margin: 0 auto;
  text-align: center;

}

ul li {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  list-style: none;
  line-height: 30px;

}

ul li a {
  text-decoration: none;
  font-family: "Six Caps", sans-serif;
  color: white;
  font-size: 28px;
  letter-spacing: 3px;

}
ul li a:hover {
  color: #c73462
}

.content {
  /*margin: 30px 40px;*/
  width: 375px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;

}

.grid img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin: 0 auto;

}

.grid img:hover {
  opacity: 0.8;
}


/* contact page start */
.contact {
  font-family: "DIN Condensed", sans-serif;
  font-size: 22px;
  color: #4d2000;
  font-weight: bold;
  width: 145px;
  justify-content: end;
  text-align: center;
  margin-left: 24px;
  padding-top: 5px;
  text-transform: uppercase;

}
.contact-p {
  font-family: "Caviar Dreams", serif;
  font-size: 12px;
  line-spacing: 2px;
  font-weight: 200;
  line-height: 1.4;
  color: #5f4007;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 24px;
  padding-left: 25px;
  padding-top: 5px;
}

/* about page start*/

.about-grid {
  display: grid;
  width: 375px;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-template-rows: 1fr;
  /*grid-auto-rows: minmax(min-content, max-content);*/
  grid-template-areas:
  "about"
  "about-me about-desc" ;
}

.about {
  width: 145px;
}
.about p {
  width: 145px;
  text-align: center;
  margin-left: 18px;
  padding-top: 5px;
  font-family: "DIN Condensed", sans-serif;
  font-size: 22px;
  color: #4d2000;
  font-weight: bold;
  text-transform: uppercase;
}
.about-me {
  width: 145px;
  display: block;
  padding-top: 5px;
  padding-left: 30px;
  margin-right: 0;
  height: auto;
}

.about-me img{
  width: 180px;
  float: left;
  padding-left: 20px;
}

.about-desc {
  margin: 0 auto;
  text-align: left;
  width: 50%;
  padding-left: 50px;
  margin-right: 40px;
  padding-top: 24px;

}
.about-desc article {
  font-family: "Caviar Dreams", serif;
  text-align: justify;
  line-spacing: 2px;
  font-weight: 280;
  line-height: 1.2;
  color: #5f4007;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 10px;

}
@media only screen and (min-width:768px) {

  h1 a {
    padding-top: 30px;
  }
  .content {
    /*margin: 30px 40px;*/
    width: 768px;
  }
  .grid {
    width: 750px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;

  }
  .grid img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 350px;
    margin: 0 auto;
  }
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 25px 25px 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
    ". about . ."
    ". about-me about-desc ." ;
  }

  .about-grid div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: auto;
    height: auto;
  }
  .about-grid div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 300px;
  }
  .about-grid div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 300px;
  }

  .about {
    width: 100%;

  }
  .about p {
    width: 145px;
    text-align: center;
    margin-left: 18px;
    padding-top: 5px;
    font-family: "DIN Condensed", sans-serif;
    font-size: 30px;
    color: #4d2000;
    font-weight: bold;
    text-transform: uppercase;
  }
  .about-me {
    width: 145px;
    display: block;
    padding-top: 5px;
    padding-left: 30px;
    margin-right: 0;
    height: auto;
  }

  .about-me img{
    width: 300px;
    float: left;
    padding-left: 25px;
  }

  .about-desc {
    margin: 0 auto;
    text-align: left;
    width: 50%;
    padding-left: 60px;
    margin-right: 40px;
    padding-top: 24px;

  }
  .about-desc article {
    font-family: "Caviar Dreams", serif;
    text-align: justify;
    line-spacing: 2px;
    font-weight: 280;
    line-height: 1.2;
    color: #5f4007;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 14px;


  }
  .contact {
    font-family: "DIN Condensed", sans-serif;
    font-size: 30px;
    color: #4d2000;
    font-weight: bold;
    width: 145px;
    justify-content: end;
    text-align: center;
    margin-left: 24px;
    padding-top: 5px;
    text-transform: uppercase;

  }
  .contact-p {
    font-family: "Caviar Dreams", serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.3;
    color: #5f4007;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    margin-left: 24px;
    padding-left: 25px;
    padding-top: 5px;
  }

}

@media only screen and (min-width:414px) {
  .content {
    width: 414px;
  }

  .grid img {
    height: 300px;
  }

  .about-desc article{
    font-size: 11px;
    text-align: left;
  }

@media only screen and (min-width:1000px) {

  .content {
    margin: 30px 30px;
  }
  h1 a {
    padding-top: 40px;
    font-size: 40px;
  }
  nav {
    width: 530px;
    height: 30px;
    background-color: #e0a282;
    margin: 0 auto;
    text-align: center;

  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;

  }

  .grid img {
    display: block;
    object-fit: cover;
    width: 315px;
    height: 450px;
    margin: 0 auto;

  }
  .contact {
    font-family: "DIN Condensed", sans-serif;
    font-size: 30px;
    color: #4d2000;
    font-weight: bold;
    width: 500px;
    justify-content: end;
    text-align: center;
    margin-left: 85px;
    padding-top: 15px;
    text-transform: uppercase;

  }
  .contact-p {
    font-family: "Caviar Dreams", serif;
    font-size: 25px;
    line-spacing: 2px;
    font-weight: 350;
    line-height: 1.4;
    color: #5f4007;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 85px;
    padding-left: 150px;
    padding-top: 15px;
  }
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 25px 25px 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
    ". about . ."
    ". about-me about-desc ." ;
  }

  .about-grid div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: auto;
    height: auto;
  }
  .about-grid div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 500px;
  }
  .about-grid div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 500px;
  }
  .about {
    width: auto;
  }
  .about p {
    width: 500px;
    justify-content: end;
    text-align: center;
    margin-left: 85px;
    padding-top: 15px;
    font-family: "DIN Condensed", sans-serif;
    font-size: 30px;
    color: #4d2000;
    font-weight: bold;
    text-transform: uppercase;
  }
  .about-me {
    display: block;
    margin-left: 150px;
    padding-top: 20px;
    margin-right: 0;
  }
  .about-me img{
    float: right;
    width: 400px;
  }

  .about-desc {
    margin: 0 auto;
    text-align: left;
    width: 500px;
    padding-left: 20px;
    margin-right: 400px;
    padding-top: 30px;

  }
  .about-desc article {
    font-family: "Caviar Dreams", serif;
    line-spacing: 2.5px;
    font-weight: 350;
    line-height: 1.4;
    color: #5f4007;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: left;

  }
}
